@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Outfit:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

body {
    background-color: hsl(0, 0%, 95%);
}

.flex-container {
    display: flex;
    flex-direction: row;
    background-color: hsl(0, 0%, 95%);
    padding: 20px 200px;
    align-items: center;
    justify-content: center;
}

.flex-container > div:nth-child(1) {
    background: hsl(31, 77%, 52%);
    border-radius: 10px 0px 0px 10px;
    padding: 60px;
}

.flex-container > div:nth-child(2) {
    background: hsl(184, 100%, 22%);
    padding: 60px;
}

.flex-container > div:nth-child(3) {
    background: hsl(179, 100%, 13%);
    border-radius: 0px 10px 10px 0px;
    padding: 60px;
}

.flex-container div img {
    margin-bottom: 40px;
}

.card-title {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 48px;
    color: hsl(0, 0%, 95%);
    margin-bottom: 40px;
    text-transform: uppercase;
}

.card-p {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.6;
    margin-bottom: 80px;
}

.card-button{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    padding: 14px 22px;
    width: 160px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background-color: hsl(0, 0%, 95%);
    mix-blend-mode: screen;
}

.card-button:hover {
    background-color: hsl(0, 0%, 95%, 0%);
    border: 2px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
}

@media (max-width: 375px) {
    .flex-container {
      flex-direction: column;
      padding: 20px 10px;
    }

    .flex-container > div:nth-child(1) {
        border-radius: 10px 10px 0px 0px;
    }

    .flex-container > div:nth-child(3) {
        border-radius: 0px 0px 10px 10px;
    }
  }